*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

#cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}
#area-logo, #area-menu{
    padding: 10px;
}
#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
#postagens{
    width: 660px;
    float: left;
}
#menu-lateral{
    width: 240px;
    float: right;
}
.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}
.post{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

a{
    text-decoration: none;
}
a:link, a:visited{
    color: #f7b600;
}
a:hover{
text-decoration: underline;
}
#cabecalho a:link, #cabecalho a:visited{
    color: white;
    padding: 8px 12px;
}
#cabecalho a:hover{
    color: #f7b600;
    background: white;
    text-decoration: none;
}

h1{
    color: #4e4e4e;
    font-size: 2.5rem;
}
h2{
    color: #f7b600;
}
h3{
    color: #565656;
    background: #CCC;
    padding: 5px;
}
.branco{
    color: white;
}
.data-postagem{
    font-size: 0.8rem;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
.postagem-lateral{
    font-size: 0.8rem;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}
